@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"), url(../../assets/fonts/Roboto-Light.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../../assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"), url(../../assets/fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url(../../assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: normal;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0 !important;
  background-color: rgb(28, 28, 34) !important;
  color: white;
}

* {
  font-size: 13px;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif !important;
}

.w-100-vw {
  width: 100vw;
}

.h-100-vh {
  height: 100vh;
}
